<h2>Angular 15 new features
  2022 NOV 16
</h2>



<ul>
 <li>Standalone APIs are now out of developer preview</li>
 <li >Directive composition API

    <div appBorder>Appborder</div>
    <div appHighlight>Highlight</div>
    <div appHighlightAndBorder>Composed directives</div>
 </li>
 <li>Image directive stable </li>
 <li>Functional router guards</li>
 <li>
    Range slider
    <mat-slider min="200" max="500">
    <input value="300" matSliderStartThumb>
    <input value="400" matSliderEndThumb>
    </mat-slider>
 </li>
</ul>


<section>
  <img
  placeholder
  fill
  priority
  ngSrc="1_WWRm1tIQ5MinLE0rUTo62w.png"   alt="" />
</section>
