<h2>Angular 20 new features 2025 MAY 26</h2>

<ul>
  <li>
    Stabilized Signal-based APIs: toSignal(), toObservable(), and linkedSignal() now stable and
    production-ready
  </li>
  <li>
    Control Flow Syntax: Stabilized @'if', @'for', @'switch', @'case', and @'let' for cleaner
    templates (ngIf/ngFor/ngSwitch deprecated)
  </li>
  <li>
    Zoneless Change Detection: Moved to developer preview with improved performance without Zone.js
    20.2 production ready
  </li>
  <li>Experimental MCP server to help with LLM codegen</li>
  <li>
    Template Expression Improvements: Support for exponentiation operator (**), in keyword, void
    operator, and tagged template literals in expressions
  </li>
  <li>CDK Drag&Drop improvement to allow copying items between lists</li>
  <li>
    Dynamic Component Features: Add input binding support, two-way bindings, and directives on
    dynamically-created components
  </li>
  <li>
    Router Enhancements: Asynchronous redirects support, ability to directly abort navigation,
    improved type safety on route guards
  </li>
  <li>
    Forms Improvements: markAllAsDirty method added, ability to reset forms without emitting events
  </li>
  <li>Route visualization and signal graph in Angular DevTools</li>
  <li>
    Animations: New animation APIs for more dynamic and flexible animations
    <a href="https://angular.dev/guide/animations/css">Link to the official page</a>
  </li>
  <li>TypeScript 5.8+ Requirement: Dropped support for TypeScript older than 5.8</li>
  <li>
    Node.js Updates: Minimum Node.js 20.19, with support for 22.12 and 24.0+ (dropped support for
    Node 18 and 22.0-22.10)
  </li>
</ul>

<h3>Posts from JSONPlaceholder API</h3>
<ul>
  @for (post of posts$ | async; track post.id) {
    <li>
      <strong>{{ post.title }}</strong>
      <p>{{ post.views }}</p>
    </li>
  }
</ul>

<h3>Single Post Details from resource signal (using Resource API)</h3>

@if (postFromResource(); as post) {
  <p><strong>Title:</strong> {{ post.title }}</p>
  <p><strong>Views:</strong> {{ post.views }}</p>
} @else {
  <p>No post selected</p>
}

<h3>Single Post Details from httpResourcSignal signal (using Resource API)</h3>
<p>
  HELPFUL: httpResource differs from the HttpClient as it initiates the request eagerly. In
  contrast, the HttpClient only initiates requests upon subscription to the returned Observable.
</p>
<p>
  TIP: Avoid using httpResource for mutations like POST or PUT. Instead, prefer directly using the
  underlying HttpClient APIs.
</p>

@if (postByIdHttpResource.hasValue()) {
  <p><strong>Title:</strong> {{ postByIdHttpResource.value().title }}</p>
  <p><strong>Views:</strong> {{ postByIdHttpResource.value().views }}</p>
} @else if (postByIdHttpResource.error()) {
  <div>Could not load post information</div>
} @else if (postByIdHttpResource.isLoading()) {
  <div>Loading post details...</div>
} @else {
  <p>No post selected</p>
}

<button type="button" mat-flat-button (click)="loadPostNmber1()" class="btn ml-2">
  Load first post
</button>

<div id="container"></div>
<button type="button" mat-flat-button (click)="showWarning()" class="btn ml-2">
  Add warning component
</button>
