<h2>Angular 16 new features 2023 MAY 03</h2>

<ul>
  <li>Signals</li>
  <li>Rxjs interoperability (RxJs and signals working together)</li>
  <li><app-self-closing-tag /></li>
  <li>
    {{ inputData }}
    <ul>
      <li>query parameters</li>
      <li>path and matrix parameter</li>
      <li>static route data</li>
      <li>data from resolvers</li>
    </ul>
  </li>
  <li>Required inputs</li>
  <li>Jest web runere</li>
  <li>Esbuild previe</li>
  <li>Configure zone.js</li>
  <li>Standalone pipes, directives</li>
</ul>
<form [formGroup]="myForm">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput [formControl]="myForm.controls.myControl" />
  </mat-form-field>
</form>

Signal : {{ myControlSignal() }}
