@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-list li:nth-child(even) {
  color: var(--mat-sys-tertiary);
}

.main-list li {
  padding: 0.2rem;
}
