<h2>Angular 17 new features
  2023 NOV 08
</h2>

<h3>Izsépi Ferenc Angular 17 new features and Hajnal Erik Signals (even Signal store)</h3>
<p>https://nitrowise.sharepoint.com/sites/Nitrowise/SitePages/Angular-17-ujdonsagok.aspx</p>
<ul>
 <li>Built in control flow</li>
 <li>
  @defer {
    Defferable view
  } @placeholder {
    <p>Feauter description</p>
  } @loading (minimum 3s) {
    <p>Important feature description loading...</p>
  }

</li>
 <li>Input value transforms</li>
 <li>Defer loading for animations modul</li>
</ul>

<h2>Angular 17.2 újdonságok
</h2>

<ul>
  <li>Signal queries</li>
  <li>Model inputs </li>
  <li>NgOptimizedImages Netlify loader and automatic placeholder </li>
  <li>Defer loading for animations modul</li>
 </ul>
